.app_dark_theme {
    --bg-color: #f5f0f0;
    --inverted-bg-color: #000;
    --button-bg-color: #fff;

    // цвет шрифта на странице
    --primary-color: #000;

    // цвет шрифта в хедере
    --secondary-color: #fff;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #000;

    // skeleton
    --skeleton-color: #cbcbcb;
    --skeleton-shadow: rgba(35 35 35 / 20%);

    // code
    --code-bg: #d5d4d4;

    // card
    --card-bg: #d5d4d4;

    // listBox
    --listbox-bg: #d5d4d4;
}
