.app.dark {
    --bg-color: #323232;
    --inverted-bg-color: #fff;

    // цвет шрифта на странице
    --primary-color: #fff;

    // цвет шрифта в хедере
    --secondary-color: #989898;
    --inverted-primary-color: #000;
    --inverted-secondary-color: #383838;
}
