.app_light_theme {
    --bg-color: #f4f7fb;
    --inverted-bg-color: #007fff;
    --button-bg-color: #00d6c4;
    --primary-color: #007fff;
    --secondary-color: #00d6c4;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #f3f3f3;

    // skeleton
    --skeleton-color: #cbcbcb;
    --skeleton-shadow: rgba(35 35 35 / 20%);

    // code
    --code-bg: #efefef;

    // card
    --card-bg: #e8e8e8;

    // listBox
    --listbox-bg: #e8e8e8;
}
