.app_light_theme {
    --bg-color: #fff;
    --inverted-bg-color: #323232;
    --primary-color: #f8cf00;
    --secondary-color: #c4a302;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #f3f3f3;

    // skeleton
    --skeleton-color: #cbcbcb;
    --skeleton-shadow: rgba(35 35 35 / 20%);

    // code
    --code-bg: #efefef;
}
