.app_light_theme {
    --bg-color: #fff;
    --inverted-bg-color: #323232;
    --primary-color: #f8cf00;
    --secondary-color: #c4c4c4;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #f3f3f3;
}
