.app_orange_theme {
    --bg-color: #fbf7f4;
    --inverted-bg-color: #ff7f00;
    --button-bg-color: #d6d300;

    // цвет шрифта на странице
    --primary-color: #ff7f00;

    // цвет шрифта в хедере
    --secondary-color: #d6d300;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #faf4fb;

    // skeleton
    --skeleton-color: #cbcbcb;
    --skeleton-shadow: rgba(35 35 35 / 20%);

    // code
    --code-bg: #efefef;

    // card
    --card-bg: #e8e8e8;

    // listBox
    --listbox-bg: #e8e8e8;
}
